/*
    使用element-ui的图标
*/
@font-face {
    font-family: 'nd-icons';
    src: url('~static/font/element-icons.woff?t=1472440741') format('woff'), /* chrome, firefox */
    url('~static/font/element-icons.ttf?t=1472440741') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    font-weight: 400;
    font-style: normal;
}

[class^="nd-icon-"] {
    font-family: 'nd-icons' !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    /* 抗锯齿 使得图标更清晰*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nd-icon-search::before {
    content: "\E61D";
}

.nd-icon-caret-top::before{
    content: "\E603"
}

.nd-icon-arrow-left::before {
    content: "\E601"
}

.nd-icon-arrow-right::before {
    content: "\E602"
}

.nd-icon-more::before {
    content: "\E61A"
}

.nd-icon-d-arrow-right::before {
    content: "\E60F"
}

.nd-icon-d-arrow-left::before {
    content : "\E60E"
}

.nd-icon-close::before {
    content: "\E60C"
}

.nd-icon-date::before{
    content: "\E611"
}



